<%- include('includes/head.ejs') %>

</head>
<body>
    <%- include('includes/nav.ejs') %>

    <main style="text-align: center" >
        <h1>404</h1>
        <p>Resource not found. Try the <a href="/" style="text-decoration: none">home</a> page</p>
    </main>
<%- include('includes/end.ejs') %>

